/* Small phones (0 to 480px) */
@media only screen and (max-width: 480px) {
    #title {
        text-align: center;
    }

    .mockup {
        margin: 40px 0 0 0;
    }

    #contact .row {
        margin: 0;
    }

    section {padding: 25px 0;}
}

/* Larger phones to small tablets (481 to 767px) - smaller than ipad 
ipad is 768 
*/
@media only screen and (max-width: 767px) {
    body {font-size: 16px;}
    section { padding: 30px 0}
    .mockup {
        margin: 40px 0 0 0;
    }

    #contact .row {
        margin: 0;
    }
}

/* Small tablet to big tablet (768 - 1023)
ipad in portrait
ipad in landscape is 1024px 
 */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px;}

    section { padding: 60px 0;}

    
}

/* Big tablets to 1200px (width smaller than 1140px of our row) */
@media only screen and (max-width: 1200px) {

    .row { padding: 0 2%;}
}